<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boilfish.ShortURL.mapper.ManageMapper">
    <select id="selectUserCount" resultType="int">
        select count(*) from user
    </select>
    <select id="selectNewUserCount" resultType="int">
        select count(*) from user where DATE(timeStamp) = CURDATE()
    </select>
    <select id="selectUrlCount" resultType="int">
        select count(*) from url
    </select>
    <select id="selectNewUrlCount" resultType="int">
        select count(*) from url where DATE(timeStamp) = CURDATE()
    </select>

    <select id="selectUrlByUrl" resultType="com.boilfish.ShortURL.model.UrlM">
        select * from url
        <where>
            <if test="shortUrl != null">
                shortUrl like '%${shortUrl}%'
            </if>
            <if test="longUrl != null">
                longUrl like '%${longUrl}%'
            </if>
        </where>
        limit #{page},#{limit}
    </select>

    <select id="selectUrlByUrlCount" resultType="int">
        select count(*) from url
        <where>
            <if test="shortUrl != null">
                shortUrl like '%${shortUrl}%'
            </if>
            <if test="longUrl != null">
                longUrl like '%${longUrl}%'
            </if>
        </where>
    </select>
</mapper>